<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="handmade_program.Script.settingPanel.dataSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="handmade_program.Script.main.dataSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <handmade_program.Script.settingPanel.dataSettings>
            <setting name="settingData" serializeAs="String">
                <value>{"Init":true,"TrayOn":true}</value>
            </setting>
            <setting name="TermSetting" serializeAs="String">
                <value>{"sheet_name_LanguageList" : "Languages","Term_Save_Path" :"","Term_Load_Path " :"","Term_Load_FileName" :""}</value>
            </setting>
        </handmade_program.Script.settingPanel.dataSettings>
        <handmade_program.Script.main.dataSettings>
            <setting name="settingData" serializeAs="String">
                <value>{"Init":true,"TrayOn":true}</value>
            </setting>
        </handmade_program.Script.main.dataSettings>
    </userSettings>
</configuration>